.cardsList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  overflow: scroll;

  .card {
    width: 18rem;
    height: 500px;
    padding: 10px;
    margin: 10px;
  }
}

.card-text {
  max-height: 70px;
  overflow: scroll;
}
