.container4 {
  position: relative;
  text-align: center;
  color: black;
//   height: 1200px;
  width: 200px;
}

.showcase {
  img {
    height: 1000px;
    // opacity: 0.9;
    width:1600px;
  }
}

.centered {
  position: absolute;
  top: 70%;
  width: 1000px;
  opacity: 0.6;
  left: 180%;
  margin-left: 500px;
  background-color: white;
  transform: translate(-50%, -50%);
}
